# Portfolio Inception
For Rutger's [Fintech Bootcamp]():
> You have been investing in algorithmic trading strategies. Some of the investment managers love them, some hate them, but they all think their way is best.

> You just learned these quantitative analysis techniques with Python and Pandas, and you want to determine which portfolio is performing the best across multiple areas: volatility, returns, risk, and Sharpe ratios.

> ...create a tool (an analysis notebook) that analyzes and visualizes the major metrics of the portfolios across all of these areas, and determine which portfolio outperformed the others. You will be given the historical daily returns of several portfolios: some from the firm's algorithmic portfolios, some that represent the portfolios of famous "whale" investors like Warren Buffett, and some from the big hedge and mutual funds. You will then use this analysis to create a custom portfolio of stocks and compare its performance to that of the other portfolios, as well as the larger market ([S&P 500 Index](https://en.wikipedia.org/wiki/S%26P/TSX_60)).

In [15]:
import pathlib as path
import datetime as dt
from pprint import pprint

import pandas as pd
import numpy as np

%matplotlib inline

In [14]:
# The three csvs we are working with all share the same name for the column of
# dates that we seek to convert to a DateTimeIndex
date_col = ["Date"]


whale_returns_path = r"resources\whale_returns.csv"
whale_returns_data_frame = pd.read_csv(whale_returns_path, 
                                       index_col = "Date", 
                                       parse_dates = date_col)

# We use raw strings to avoid escaped characters being read, as we ran into an
# error with '\a' in next line
algo_returns_path  = r"resources\algo_returns.csv"
algo_returns_data_frame = pd.read_csv(algo_returns_path, 
                                      index_col = "Date", 
                                      parse_dates = date_col)


sp500_history_path = r"resources\sp500_history.csv"
sp500_history_data_frame = pd.read_csv(sp500_history_path, 
                                       index_col = "Date", 
                                       parse_dates = date_col)

In [17]:
if whale_returns_data_frame.index.is_monotonic_increasing == True:
    print(whale_returns_data_frame.head())

            SOROS FUND MANAGEMENT LLC  PAULSON & CO.INC.   \
Date
2015-03-02                        NaN                 NaN
2015-03-03                  -0.001266           -0.004981
2015-03-04                   0.002230            0.003241
2015-03-05                   0.004016            0.004076
2015-03-06                  -0.007905           -0.003574

            TIGER GLOBAL MANAGEMENT LLC  BERKSHIRE HATHAWAY INC
Date
2015-03-02                          NaN                     NaN
2015-03-03                    -0.000496               -0.006569
2015-03-04                    -0.002534                0.004213
2015-03-05                     0.002355                0.006726
2015-03-06                    -0.008481               -0.013098

In [6]:
algo_returns_data_frame

              Algo 1    Algo 2
Date
2014-05-28  0.001745       NaN
2014-05-29  0.003978       NaN
2014-05-30  0.004464       NaN
2014-06-02  0.005692       NaN
2014-06-03  0.005292       NaN
...              ...       ...
2019-04-25  0.000682 -0.007247
2019-04-26  0.002981  0.005256
2019-04-29  0.005208  0.002829
2019-04-30 -0.002944 -0.001570
2019-05-01  0.000094 -0.007358

[1241 rows x 2 columns]

In [7]:
sp500_history_data_frame

               Close
Date
2019-04-23  $2933.68
2019-04-22  $2907.97
2019-04-18  $2905.03
2019-04-17  $2900.45
2019-04-16  $2907.06
...              ...
2012-10-05  $1460.93
2012-10-04  $1461.40
2012-10-03  $1450.99
2012-10-02  $1445.75
2012-10-01  $1444.49

[1649 rows x 1 columns]

# Cleaning nulls from DataFrame by dropping
csv_data = csv_data.dropna()
csv_data

# Check duplicates
csv_data.duplicated()